.preview.markdown-body {
    flex: 0 0 50%;
    padding: 12px;
    box-sizing: border-box;
    overflow: auto;
    color: #eeeeee;
    background-color: #333644;
}

.preview.markdown-body pre {
    background-color: #252525;
}